body{
    font-size: 0.9512rem;
    font-weight: 400;
    font-family: "IBM Plex Sans",sans-serif;
}
.page-main-header .main-header-right{
    height: 45px;
}
.page-main-header .main-header-right .main-header-left{
    width: 250px;
}
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav{
    width: 250px;
    top: 45px;
}
.page-wrapper.compact-wrapper .page-body-wrapper .page-body{
    margin-left: 250px;
    margin-top: 30px;
    background-color: #fff;
}
.page-main-header .main-header-left,.page-main-header .left-menu-header,.page-main-header .right-menu{
    margin-top: -16px;
}
table thead,.modal-header{
    --vz-table-bg: #f3f6f9;
    background: #f3f6f9;
}
table thead th{
    text-wrap: nowrap;
}
.tableHidden {
    overflow-x: auto;
}
.swal-text{
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}
.alert{
    font-size: 14px;
}
.alert-warning{
    color: #000 !important;
}

.watermark {
    margin-left: 38%;
    position: absolute;
        z-index: 0;
        background: transparent;
        display: block;
        min-height: 50%;
        opacity: .1;
        text-align: center;
}
.no-right-border img{
    max-width: 600px;
}
.low-z-index{
    z-index: 1041;
}
.btn.btn-secondary, .card form .btn-danger{
    background-color: #e2c636 !important;
    border-color: #e2c636 !important;
}
.btn,.page-wrapper .nav-submenu li a{
    font-size: 14px !important;
}
#landingPageClass .container-fluid .card card-body{
    padding: 10px;
}